$bg: #ffffff;
$accent: #31B447;
$default: #333333;

%roboto-400{
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}
%roboto-900{
  font-family: "Roboto-Black", sans-serif;
  font-weight: 900;
}